#contents {
  width: 100%;
  margin-top: 245px;
  overflow: auto;
}

#contents_top {
  width: 100%;
  height: 50px;
  background-color: red;
}

.slideimg {
  width:100%;
  height: auto;
  background: skyblue;
}

.slide_img {
  display: inline-block;
  position: relative;
  left: 300px;
  margin: 40px 40px 40px 40px;
  width: 1200px;
  height: 500px;
  background: blue;
  border: 1px solid;
}

.k_midle {
  width:100%;
  height: 400px;
  background: skyblue;
}
