

}
a:focus {
	outline: none;
}
ul.sidenav {
	font-size: 1.2em;
	float: left;
  margin-top: 50px;
	width: 270px;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #003867;
	background: -webkit-linear-gradient(top,#003867 0%,#2c2d33 100%);
	background: -moz-linear-gradient(top, #003867 0%,#2c2d33 100%);
	background: -o-linear-gradient(top, #003867 0%,#2c2d33 100%);
	background: -ms-linear-gradient(top, #003867 0%,#2c2d33 100%);
	background: linear-gradient(top, #003867 0%,#2c2d33 100%);
	border-bottom: 1px solid #3373a9;
	border-top: 1px solid #003867;
}
ul.sidenav li a{
	display: block;
	color: #fff;
	text-decoration: none;
	width: 155px;
	padding: 10px 10px 10px 105px;
	background: url(./img/sidenav_a.gif) no-repeat 40px 8px;
	border-top: 1px solid #3373a9;
	border-bottom: 1px solid #003867;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
}
ul.sidenav li a:hover {
	background: #003867 url(./img/sidenav_a.gif) no-repeat 40px 8px;
	border-top: 1px solid #1a4c76;
	color: #8fde62;
}
ul.sidenav li span{	display: none; }
ul.sidenav li a:hover span {
	display: block;
	font-size: 0.8em;
	padding: 10px 0;
}
.spinner {
  width:65px;
  height: 55px;
  background:#005094;
	background: -webkit-linear-gradient(top,skyblue 0%,#003867 100%);
	background: -moz-linear-gradient(top, skyblue 0%,#003867 100%);
	background: -o-linear-gradient(top, skyblue 0%,#003867 100%);
	background: -ms-linear-gradient(top, skyblue 0%,#003867 100%);
	background: linear-gradient(top, skyblue 0%,#003867 100%);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  position:fixed;
  top:180px;
  left: 200px;
  z-index: auto;
  transition:all .35s;
}
input[id="menuicon"] {
  display:none;
}
input[id="menuicon"] + label {
  display:block;
  margin-top: -50px;
	margin-left: 210px;
  width:30px;
  height:25px;
  position:fixed;
  cursor:pointer;
}
input[id="menuicon"] + label span {
  display:block;
  position:absolute;
  width:100%;
  height:5px;
  border-radius:30px;
  background:#fff;
  transition:all .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
  top:0;
}
input[id="menuicon"] + label span:nth-child(2) {
  top:50%;
  transform:translateY(-50%);
  } /* �����ϰ� ������ �� �ִ� style top:calc(50% - 2.5px); margin-top:-2.5px;*/
input[id="menuicon"] + label span:nth-child(3) {
  bottom:0;
}
input[id="menuicon"]:checked + label {
  z-index:2;
}
input[id="menuicon"]:checked + label span {
  background:white;
}
input[id="menuicon"]:checked + label span:nth-child(1) {
  top:50%;
  transform:translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
  opacity:0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
  bottom:50%;
  transform:translateY(50%) rotate(-45deg);
}
label {
  display: block;
  width: 90px;
  height: 85px;
}
input:checked ~ label {
  background-position: : -50px 0;
}
.logo {
	display: inline-block;
  width:500px;
  height:200px;
  position:fixed;
  top: 10px;
  left: 280px;
  z-index: auto;
  transition: .35s;
}

.logo2 {
	display: inline-block;
  width:400px;
  height:200px;
  position:fixed;
  top: 10px;
	left: 780px;
  z-index: auto;
  transition: .35s;
}




div[class="sidebar"] {
  width:270px;
  height:auto;
  background:#fff;
	opacity: 100%;
  position:fixed;
  top:245px;
  left:-300px;
  z-index:1;
  transition:all .35s;
}

input[id="menuicon"]:checked + label + div {
  left:0;
}
