#nav_menu,
#nav_menu ul,
#main_menu li,
#main_menu a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}


#nav_menu {
  position:absolute;
  width: 350px;
  height: 150px;
  top:20px;
  left: 1200px;
  z-index: 999;
}
/* icon */

#nav_menu ul{
  position: fixed;
  list-style-type: none;
  width: 500px;
  height: 50px;
  background:none;
  list-style: none;
  margin: 1px;
  padding: 1px;
}
#nav_menu ul > li{
  display: inline;
  float: left;
  margin-right: 10px;
  background: #000;
  font-weight: bold;
}


#nav_menu ul li a{
  text-align: center;
  display: block;
  font-size: 15px;
  radius: 10px;
  background: #ffffff;
  color: #003867;
  padding: 2px 1px;
  text-decoration: none;
}
#nav_menu ul li a:hover{
  background:#fff3f0;
  color:#fff;
  border-radius: 10px;
}
